.jumbotron {
    background-image: url('../assets/jumbotron/videos-jumbo.jpg');
    background-position: center;
}

#videos {
    width: 100vw;
    background-color: #343E4A;
    padding: 50px;
}

.video {
    width: 400px;
    height: 280px;
    margin: 15px;
}
.video:hover {
    cursor: pointer;
}
.video:hover > .thumbnail {
    width: calc(100% - 20px);
    height: calc(100% - 70px);
    margin-top: 10px;
}
.video:hover > .info > h5 {
    font-size: 1.3em;
    font-weight: bold;
}
h5 {
    transition: all 0.1s ease-out;
}

.thumbnail {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 60px);
    transition: all 0.1s ease-out;
}
.info {
    padding: 15px;
    transition: all 0.1s ease-out;
}
.yt {
    width: 20px;
    height: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 5px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
}
#creator-img {
    height: 100px;
    width: 100px;
    margin: 20px;
    display: block;
}
#creator-info {
    padding-top: 20px;
    padding-bottom: 20px;
}



@media (max-width: 1024px) {
    .navbar {
        background-color: black;
    }

}