/* Jumbotron */
.jumbotron {
    background-image: url('../assets/jumbotron/case-studies-jumbo.jpg');
}

/* Case study */
.study-img {
    height: fit-content;
    width: 50%;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
    background: #fcfeff;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 100px;
    margin-bottom: 100px;
}
.study-text {
    position: absolute;
    width: 40%;
    right: 50px;
    border-radius: 7px;
    top: 10%;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
}
.stat {
    width: 100px;
    height: 100px;
}


.alternate {
    padding-top: 50px;
    padding-bottom: 50px;
    clip-path: polygon(0 calc(0% + 5vw), 100% 0, 100% calc(100% - 5vw), 0 100%);
    margin-top: calc(0% - 5vw);
}

.alternate > .card-body > .card > .card-body > .row > .study-img {
    margin-left: auto;
}
.alternate > .card-body > .card > .card-body > .row > .study-text {
    right: 0;
    left: 100px;
}

.social-row {
    padding-top: 20px;
}
.footer {
    margin-top: -5em;
}

@media (max-width: 1024px) {
    .navbar {
        background-color: black;
    }
    .jumbotron {
        background-position: right -10em;
    }
    .study-img {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    .study-text {
        position: relative;
        width: 100%;
        margin-left: 0;
        margin-top: -30px;
        right: 0;
        padding: 20px;
    }
    .stat {
        width: 50px;
        height: 50px;
    }

    .alternate > .card-body > .card > .card-body > .row > .study-text {
        left: 0;
    }
}
