.jumbotron {
    background-image: url('../assets/brands-jumbo.jpg');
    background-size: cover;
    background-position: center;
}
.row {
    width: 100%;
}

.step-btn {
    font-size: 0.8em;
}
.step-btn > span {
    font-size: 1em;
    color: #E60031;
}
.steps-img {
    position: relative;
    order: 2;
    height: 28%;
    width: 28%;
    margin-left: 15%;
    margin-top: 50px !important;
    margin-bottom: 80px !important; 
    background-color: rgb(246, 251, 255);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}
.sec-img {
    position: absolute;
    width: 35%;
    height: 35%;
    padding: 5%;
    background-color: white;
    opacity: 0.3;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-out;
}

.sec-img:nth-child(2) {
    left: -30%;
    top: -10%;
}
.sec-img:nth-child(3) {
    left: 80%;
    top: 12%;
}
.sec-img:nth-child(4) {
    left: -15%;
    top: 35%;
}
.sec-img:nth-child(5) {
    left: 72%;
    top: 62%;
}
.sec-img:nth-child(6) {
    left: -25%;
    top: 80%;
}

.sec-img.collapse {
    display: block;
    opacity: 0.3;
    transform: scale(1);
}
.sec-img.collapse:hover {
    opacity: 0.9;
}
.sec-img.collapse.show {
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}


.accordion {
    order: 1;
    padding: 50px;
    padding-left: 80px;
}
.accordion > .card {
    border: none;
}
.accordion > .card > .card-header {
    background: white;
}
.btn-link {
    color: rgb(29, 29, 29);
    text-decoration: none !important;
}

.info-card {
    padding-top: 50px;
    padding-bottom: 50px;
}
.images {
    margin-top: 40px;
    margin-bottom: 40px;
    /* border: 1px solid black; */
}
.brand-large {
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 3px rgb(172, 172, 172);
}
.brand-small {
    position: absolute;
    bottom: -50px;
    right: -40px;
    width: 150px;
    height: 150px;
    box-shadow: 1px 1px 3px rgb(172, 172, 172);
}

#alternate {
    clip-path: polygon(0 calc(0% + 5vw), 100% 0, 100% 100%, 0 100%);
    margin-top: calc(0% - 5vw);
}

.focus-videos {
    padding-top: 80px;
    padding-bottom: 100px;
    border-radius: 0;
    clip-path: polygon(0 calc(0% + 5vw), 100% 0, 100% 100%, 0 calc(100% - 5vw));
    margin-top: calc(0% - 5vw);
}
.video {
    width: 300px;
    height: 300px;
    margin: 10px 0;
}

.slick-prev:before, .slick-next:before{
    color: white;
}
#see-more {
    color: white;
}
#see-more:hover {
    cursor: pointer;
    color: rgb(216, 216, 216);
}

.join-now {
    margin-top: -20px;
    margin-bottom: 0;
    box-shadow: 0 0 0 black;
    z-index: 1;
}
.social-row {
    padding-top: 50px;
}

@media (max-width: 1024px) {
    .steps-img {
        order: 1;
        width: 60%;
        height: 60%;
        margin-left: 25%;
        margin-right: 0;
    }
    .accordion {
        order: 2;
        padding: 20px;
    }
    .brand-small {
        right: 5px;
    }
    .info {
        padding-top: 30px;
    }
}