.jumbotron {
    background-image: url('../assets/jumbotron/blogs.jpg');
}

.blog-link {
    text-decoration: none;
    color: black;
}
.blog-link:hover {
    text-decoration: none;
}

.blog {
    position: relative;
    min-width: 384px;
    height: fit-content;
    margin: 20px;
    border-radius: 0;
    border: none;
}

.blog::before, .blog::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: red;
    transition: top 0.2s ease-out, bottom 0.2s ease-out;
}
.blog::before {
    top: -15px;
}
.blog::after {
    bottom: -15px;
}
.blog .card-title {
    color: rgb(65, 65, 65);
    transition: color 0.2s ease-out;
}

.blog:hover {
    cursor: pointer;
}
.blog:hover::before {
    top: 0;
}
.blog:hover::after {
    bottom: 0;
}

.blog:hover .card-title {
    color: rgb(43, 0, 197);
}


.blog-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 216px;
    width: 100%;
    background-color: rgb(238, 238, 255);
    overflow: hidden;
}

.blog-image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

@media (max-width: 1024px) {
    .blog {
        min-width: 0;
    }
}